body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: rgb(52, 165, 52);
}

#container {
    position: relative;
  }
  #container canvas, #msgs {
    position: absolute;
  }
  canvas {
    border: 1px solid black;
}